/* Media Query  */


/* responsive */
/* // Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
    /* container media query starts from here */
}
/*  Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}
@media (max-width: 576px) {
    /* container-1 media query starts from here */
   body{
    width: 100%;
   } 
   .meal {
    font-size: 72px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
}
.img1-content {
    width: 60%;

}
.img-6{
    width: 98%;
}
.duis {
    width: 426px;
}
.read{
    margin-left: 49%;
}
    /* container-2 media query starts from here */
    .food-img3 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    /* container-3 media query starts from here */

    .container-3 {
        display: flex;
        margin-top: 100px;
        flex-direction: column;
    }
    .imgo{
        width: 90%;
        margin-left: 5%;
 }
 .bowl-content {
    padding: 30px;
    text-align: center;
}
.para {
    width: 476px;
    /* height: 189px; */
    text-align: center;
}
    /* container-4 media query starts from here */
.coffee-menu{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
  .ch{
    margin: 0 auto;
  } 
      /* container-5 media query starts from here */
      .store {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
      /* container-6 media query starts from here */
      .container-6 {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-left: 40px;
    }
    .img-2{
        margin: 0 auto;
        /* width: 90%; */
    }
      /* container-7 media query starts from here */
.map{
    width: 90%;
}
.container-7 {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}

      /* footer media query starts from here */
footer{
    font-size: 10px;
    display: flex;
    /* justify-content: center; */
    /* gap: 10px; */
}
.fl{
    padding: 70px 10px;
}

.cmp{
    padding-top: 70px;
    width: 201px;
height: 130px;
font-size: 15px;
letter-spacing: 0px;
line-height: 25px;
color: #000000;
font-weight: 700;
font-family: "Open Sans";
}
.hal{
    width: 201px;
    height: 90px;
    font-size: 15px;
letter-spacing: 0px;
line-height: 25px;
color: #000000;
font-family: "Open Sans";
}
.site{
    padding-left: 0px;
    padding-top: 70px;
    margin-right: 10px;
}
.s1{
    width: 115px;
font-size: 10px;
letter-spacing: 0px;
line-height: 25px;
color: #000000;
font-weight: 700;
font-family: "Open Sans";
}
.s2{
    width: 115px;
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #000000;
    font-family: "Open Sans";
      
}




      
}